


@{
    Layout = "_AdminFormLayout";
    ViewBag.Title = "Create Slider";
}

@model CreateSliderVM

<form method="post" class="md-float-material form-material" enctype="multipart/form-data">

    <div class="text-center">
        <img src="~/admin/images/logo.png" alt="logo.png">
    </div>
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Create Slider</h3>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group form-primary">
                <input asp-for="Image" class="form-control" required />
                <span asp-validation-for="Image" class="form-bar text-danger"></span>
            </div>
            <div class="form-group form-primary">
                <input asp-for="MainTitle" class="form-control" required />
                <span asp-validation-for="MainTitle" class="form-bar text-danger"></span>
                <label class="float-label">Slider MainTitle</label>
            </div>
            <div class="form-group form-primary">
                <input asp-for="SubTitle" class="form-control" required />
                <span asp-validation-for="SubTitle" class="form-bar text-danger"></span>
                <label class="float-label">Slider SubTitle</label>
            </div>
            <div class="form-group form-primary">
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="form-bar text-danger"></span>
                <label class="float-label">Slider Description</label>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Create</button>
                </div>
                <div class="col-md-12">
                    <a asp-action="Index" class="btn btn-danger btn-md btn-block waves-effect waves-light text-center m-b-20">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</form>


