@{
    ViewBag.Title = "Contact";
}


<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Contact PART START ======-->

<div class="contact-map-area pt-50">
    <div id="contact-map"></div>
</div>

<!--====== Contact PART ENDS ======-->
<!--====== Contact Part Start ======-->

<section class="contact-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="contact-form mt-30">
                    <h4 class="allup-title">Billing Address</h4>
                    @using (Html.BeginForm("CreateConnection", "Home", FormMethod.Post))
                        {
                            <span class="text-danger" id="alertForSession">@TempData["Info"] </span>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="text" name="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="email" name="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <input type="text" name="subject" placeholder="Subject" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <textarea name="message" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            <p class="form-message"></p>
                            <div class="col-md-12">
                                <div class="single-form">
                                    <button class="main-btn main-btn-2">Send Message</button>
                                </div>
                            </div>
                        </div>
                        }
                </div>
            </div>
            @await Component.InvokeAsync("Contact")
        </div>
    </div>
</section>

<!--====== Contact Part Ends ======-->
<!--====== Brand Part Start ======-->

@await Component.InvokeAsync("Brand") 

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

@await Component.InvokeAsync("Feature") 

<!--====== Features Banner Part Ends ======-->
@section CostumScripts{
    <!--====== Vendors js ======-->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/js/ajax-contact.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="~/assets/js/plugins.min.js"></script> -->
    <!--====== Main Activation js ======-->
    <script src="~/assets/js/main.js"></script>

    <!--======  Ajax Contact js ======-->
    <!--====== Google Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ5y0EF8dE6qwc03FcbXHJfXr4vEa7z54"></script>
    <script src="~/assets/js/map-script.js"></script>
<script>
    const myTimeout = setTimeout(() => {
        document.getElementById("alertForSession").innerHTML = "";
    }, 5000);
</script>
}
