


@{
    Layout = "_AdminFormLayout";
    ViewBag.Title = "Update Category";
}

@model UpdateCategoryVM

<form method="post" class="md-float-material form-material" enctype="multipart/form-data">

    <div class="text-center">
        <img src="~/admin/images/logo.png" alt="logo.png">
    </div>
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Create Category</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group form-primary">
                <input asp-for="CategoryName" class="form-control" required />
                <span asp-validation-for="CategoryName" class="form-bar text-danger"></span>
                <label class="float-label">Category Name</label>
            </div>
            <div class="form-group form-primary">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="form-bar text-danger"></span>
            </div>
            <div class="form-group form-primary">
                <label >Category Is Deleted</label>
                <input style="width:20px;height:20px;" asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="form-bar text-danger"></span>

            </div>
            <div class="form-group form-primary">
                <label>Category is Main:</label>
                <input data-id="@((int)ViewBag.CategoryCount==1?"1":"0")" style="width:20px;height:20px;" asp-for="IsMain" class="form-control" />
                <span asp-validation-for="IsMain" class="form-bar text-danger"></span>

            </div>
            <div class="form-group form-primary" id="parents">
                <select asp-for="ParentId" asp-items="@ViewBag.Categories" class="form-control" required></select>
                <span asp-validation-for="ParentId" class="form-bar text-danger"></span>
                <label class="float-label">Parent</label>
            </div>


            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Update</button>
                </div>
                <div class="col-md-12">
                    <a asp-action="Index" class="btn btn-danger btn-md btn-block waves-effect waves-light text-center m-b-20">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</form>
@section CostumScripts{
    <script>$(document).ready(function () {
             if ($("#IsMain").is(":checked")) {
                $("#parents").css({
                    "display": "none",
                });
                $("#ParentId").prop("disabled", true);
            }
            
            if ($("#IsMain").attr("data-id") == "1") {
                $("#parents").css({
                    "display": "none",
                });
                $("#ParentId").prop("disabled", true);
                $("#IsMain").parent().css("visibility", "hidden");
                $("#IsMain").prop("checked", true);

            }
            $("#IsMain").click(function () {
                if ($(this).is(":checked")) {
                    $("#parents").css({
                        "display": "none",
                    });
                    $("#ParentId").prop("disabled", true);
                }
                else {
                    $("#parents").css({
                        "display": "block",
                    });
                    $("#ParentId").prop("disabled", false);
                }

            })
        })</script>
}

